* {
    padding: 0;
    margin: 0;
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
textarea,
input {
    padding: 0;
    margin: 0;
    line-height: 1.3;
    font-weight: 400;
    color: #000000;
    font-family: "Outfit", sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-weight: 400;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

a {
    display: inline-block;
}

a:hover {
    text-decoration: unset;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


/*-_-_Header_CSS_Start_-_-*/
header {
    background: #30302E;
}

header .navbar {
    padding: 34px 0;
}

header .navbar-brand {
    padding: 0;
    font-size: 0;
}

header .navbar-brand img {
    height: 26px;
}

header .navbar-nav {}

header .navbar-nav li {
    margin-right: 28px;
}

header .navbar-nav li:last-child {
    margin-right: 0;
}

header .navbar-nav li a {
    font-size: 20px;
    line-height: 1.25;
    color: #fff;
    text-transform: uppercase;
    padding: 0 !important;
    transition: 0.4s all ease;
}

header .navbar-nav li a:hover {
    color: #acacac;
}

/*-_-_Header_CSS_End_-_-*/

/*-_-_Banner_CSS_Start_-_-*/
.banner {
    background: #F0EEEA;
    min-height: calc(100vh - 94px);
    padding-bottom: 109px;
    position: relative;
    display: flex;
    align-items: center;
}

.banner .banner-content {
    padding: 58px 0;
}

.banner .banner-content h1 {
    font-size: 135px;
    line-height: 0.9334;
    font-weight: 900;
    color: #30302e;
    max-width: 890px;
    min-height: 378px;
    margin-bottom: 32px;
}

.banner .banner-content h1::after {
    font-size: calc(135px / 2);
    line-height: 0.9334;
    position: relative;
    content: ".";
    margin-left: 2px;
    color: #FF644E;
    animation: flash 1.5s infinite;
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.banner .banner-content h5 {
    font-size: 28px;
    line-height: 1.25;
    color: #30302e;
    margin-bottom: 15px;
}

.banner .banner-content p {
    font-size: 24px;
    line-height: 1.25;
    color: #30302e;
    max-width: 920px;
    font-weight: 300;
}

.marquee {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 38.2px 0;
    display: flex;
    list-style: none;
    margin: 0;
    overflow: hidden;
    position: absolute;
}

.marquee li {
    white-space: nowrap;
    font-size: 24px;
    line-height: 32px;
    color: #30302e;
}

/*-_-_Banner_CSS_End_-_-*/

/*-_-_Content_CSS_Start_-_-*/

.aboutus-wrap {
    position: relative;
    min-height: 100vh;
    padding: 96px 0;
}

.progress-bar {
    background: #ff9738;
    transition: width 0.4s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    max-width: 100%;
}

.aboutus-row {
    position: relative;
    z-index: 1;
}

.aboutus-img {
    max-width: 660px;
    width: 100%;
    padding-top: 45px;
    margin-left: -50px;
}

.aboutus-img img {
    width: 100%;
}

.aboutus-content {
    max-width: 600px;
    margin: 0 auto;
}

.aboutus-content span.typed-cursor {
    display: none;
}

.aboutus-content h2 {
    font-size: 90px;
    line-height: 0.72;
    color: #30302E;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.aboutus-content p {
    font-size: 40px;
    line-height: 1.25;
    color: #30302E;
    font-weight: 300;
}

.aboutus-content p span {
    font-weight: 500;
}

.services-wrap {
    position: relative;
    min-height: 100vh;
    padding: 85px 0;
    display: flex;
    align-items: center;
    background: rgb(240, 238, 234);
}

.services-wrap .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.4s linear;
}

.services-wrap .services-content {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
}

.services-wrap .services-content h2 {
    font-size: 90px;
    line-height: 0.72;
    color: #30302E;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.services-wrap .services-content p {
    font-size: 40px;
    line-height: 1.25;
    color: #30302E;
    font-weight: 300;
    margin-bottom: 40px;
}

.services-wrap .services-content p span {
    font-weight: 500;
}

.services-wrap .services-content p:last-child {
    margin-bottom: 0;
}

.vertical-slider-wrap {
    position: relative;
    min-height: 100vh;
    padding: 85px 0;
    display: flex;
    align-items: center;
    background: rgb(240, 238, 234);
}

.vertical-slider-wrap {
    display: flex;
    justify-content: center;
}

.vertical-slider .slick-list {
    padding: 0 !important;
}

.vertical-slider li {
    font-size: 90px;
    line-height: 0.7;
    text-align: center;
    color: rgba(48, 48, 46, 0.1);
    padding: 25px 0;
    transition: 0.5s all ease;
}

.vertical-slider .slick-center + .slick-slide li {
    color: #FF644E;
}

.expertise-wrap {
    position: relative;
    min-height: 100vh;
    padding: 85px 0;
    display: flex;
    align-items: center;
    background: rgb(240, 238, 234);
}

.expertise-wrap .expertise-content h2 {
    font-size: 90px;
    line-height: 0.72;
    color: #30302E;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.expertise-accordion {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 20px;
}

.expertise-accordion .accordion-item {
    width: calc(50% - 20px);
    max-width: 703px;
    background: transparent;
    border: 0;
    min-height: 224px;
}

.expertise-accordion .accordion-button {
    font-size: 36px;
    line-height: 1.25;
    color: #30302E;
    padding: 0;
    padding-bottom: 22px;
    border-bottom: 1px solid #acacac;
    background: transparent;
    outline: unset !important;
    font-weight: 300;
    display: block;
    box-shadow: unset !important;
}

.expertise-accordion .accordion-button span {
    font-size: 24px;
    line-height: 1.25;
    color: #30302E;
    display: block;
    width: 100%;
    margin-bottom: 12px;
}

.expertise-accordion .accordion-button::after {
    display: none;
}

.expertise-accordion .accordion-body {
    padding: 24px 0;
}

.expertise-accordion .accordion-body p {
    font-size: 22px;
    line-height: 1;
    font-weight: 300;
    color: #30302E;
    max-width: 92%;
    letter-spacing: 1px;
}

.why-choose-wrap {
    position: relative;
    min-height: 100vh;
    padding: 85px 0;
    display: flex;
    align-items: center;
    background: rgb(240, 238, 234);
}

.why-choose-wrap #particles-js {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
}

.why-choose-wrap .expertise-content {
    position: relative;
    z-index: 1;
}

.why-choose-wrap .expertise-content h2 {
    font-size: 160px;
    line-height: 0.95;
    color: #30302E;
    text-transform: uppercase;
    margin-bottom: 55px;
}

.why-choose-wrap .expertise-content h2 span {
    color: #FF644E;
}

.why-choose-wrap .expertise-content p {
    font-size: 28px;
    line-height: 1.25;
    margin-bottom: 28px;
    color: #30302E;
}

.why-choose-wrap .expertise-content p:last-child {
    margin-bottom: 0;
}

.vision-together-wrap {
    position: relative;
    min-height: 100vh;
    padding: 85px 0;
    display: flex;
    align-items: center;
}

.vision-together-wrap .vision-together-content {
    position: relative;
    max-width: 930px;
    margin: 0 auto;
    padding: 55px 0px 55px 90px;
    display: block;
}

.vision-together-wrap .vision-together-content img {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 48px;
    z-index: 1;
    transition: 0.4s all ease;
}

.vision-together-wrap .vision-together-content:hover img {
    transform: translateX(20px) scale(1.1);
}

.vision-together-wrap .vision-together-content h3 {
    font-size: 90px;
    line-height: 0.9;
    font-weight: 600;
    color: #30302E;
}

/*-_-_Content_CSS_End_-_-*/

/*-_-_Footer_CSS_Start_-_-*/
footer {
    background: #F0EEEA;
}

footer .footer-content {
    max-width: 1760px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 auto;
}

footer .footer-content p {
    font-size: 20px;
    line-height: 1.25;
    color: #30302E;
    margin-bottom: 24px;
}

footer .footer-content p a {
    color: #30302E;
}

footer .footer-content p a:hover {
    color: #ff9738;
}

footer .footer-content img {
    max-width: 680px;
    width: 100%;
}

.scrollToTop {
	width: 44px; 
	height: 44px;
	padding: 0; 
	text-align: center; 
	background: grey;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	position: fixed;
    border-radius: 50%;
    border: 0;
	bottom: 25px;
	right: 25px;
	display: none;
	text-decoration: none !important;
    z-index: 20;
}

.scrollToTop svg {
    width: 24px;
    height: 24px;
}
/*-_-_Footer_CSS_End_-_-*/

/*-_-_Contact-Us_CSS_End_-_-*/
.contactus-wrap {
    position: relative;
}

.contactus-wrap .contact-btm {
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -130px;
}

.contactus-wrap .contact-btm ul {
    margin-bottom: 26px;
    padding-right: 15px;
}

.contactus-wrap .contact-btm ul li,
.contactus-wrap .contact-btm ul li a {
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    color: #30302E;
}

.contactus-wrap .contact-btm ul li {
    text-align: right;
    margin-bottom: 15px;
}

.contactus-wrap .contact-btm ul li:last-child {
    margin-bottom: 0;
}

.contactus-wrap .contact-btm img {
    height: 150px;
}

.contactus-wrap .contactus-content {
    padding: 85px 0;
}

.contactus-wrap .contactus-content h2 {
    font-size: 85px;
    line-height: 0.72;
    color: #30302E;
    text-transform: uppercase;
    margin-bottom: 60px;
    max-width: 1000px;
}

.contactus-wrap .contactus-content p {
    max-width: 1000px;
    font-size: 28px;
    line-height: 1.25;
    color: #30302e;
    margin-bottom: 60px;
}

.contactus-wrap .contactus-content form {
    max-width: 1000px;
}

.contactus-content form .form-group {
    margin-bottom: 36px;
}

.contactus-content form label {
    font-size: 22px;
    line-height: 1.267;
    color: #000000;
    display: block;
    margin-bottom: 15px;
}

.contactus-content form input {
    font-size: 22px;
    padding: 0 22px;
    height: 50px;
    border: 0;
    border-bottom: 1px solid #30302e;
    border-radius: 0;
}

.contactus-content form input:focus {
    border-color: #30302e;
    box-shadow: unset;
}

.contactus-content form textarea {
    font-size: 22px;
    padding: 15px 22px;
    height: 180px;
    border: 1px solid#30302e;
    border-radius: 0;
    resize: none;
}

.contactus-content form textarea:focus {
    border-color: #30302e;
    box-shadow: unset;
}

.contactus-content form button {
    font-size: 24px;
    line-height: 1.25;
    font-weight: 500;
    color: #ffffff;
    background: #30302e;
    border-radius: 0;
    border: 0;
    padding: 13px 70px;
}
/*-_-_Contact-Us_CSS_End_-_-*/

/*-_-_Responsiveness_-_-*/
@media only screen and (min-width: 1600px) {
    .container {
        max-width: 1554px;
    }
}

@media only screen and (max-width: 1599px) {

    /*-_-_Header_CSS_Start_-_-*/
    header .navbar {
        padding: 29px 0;
    }

    header .navbar-brand img {
        height: 24px;
    }

    header .navbar-nav li {
        margin-right: 28px;
    }

    header .navbar-nav li a {
        font-size: 18px;
        line-height: 1.2275;
    }

    /*-_-_Header_CSS_End_-_-*/

    /*-_-_Banner_CSS_Start_-_-*/
    .banner {
        min-height: calc(100vh - 82px);
        padding-bottom: 92px;
    }

    .banner .banner-content {
        padding: 50px 0 45px;
    }

    .banner .banner-content h1 {
        font-size: 100px;
        max-width: 700px;
        min-height: 281px;
        margin-bottom: 25px;
    }

    .banner .banner-content h1::after {
        font-size: calc(100px / 2);
    }

    .banner .banner-content h5 {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 15px;
    }

    .banner .banner-content p {
        font-size: 20px;
        line-height: 1.2;
        color: #30302e;
        max-width: 780px;
    }

    .marquee {
        padding: 32.5px 0;
    }

    .marquee li {
        font-size: 22px;
        line-height: 1.2;
    }

    /*-_-_Banner_CSS_End_-_-*/

    /*-_-_Content_CSS_Start_-_-*/

    .aboutus-wrap {
        padding: 80px 0;
    }

    .aboutus-img {
        max-width: 550px;
    }

    .aboutus-content {
        max-width: 500px;
    }

    .aboutus-content h2 {
        font-size: 80px;
        line-height: 0.65;
        margin-bottom: 50px;
    }

    .aboutus-content p {
        font-size: 34px;
        line-height: 1.2;
    }

    .services-wrap {
        padding: 75px 0;
    }

    .services-wrap .services-content {
        max-width: 1200px;
    }

    .services-wrap .services-content h2 {
        font-size: 80px;
        line-height: 0.65;
        margin-bottom: 50px;
    }

    .services-wrap .services-content p {
        font-size: 34px;
        line-height: 1.2;
        margin-bottom: 34px;
    }

    .vertical-slider-wrap {
        min-height: 100vh;
        padding: 75px 0;
    }

    .vertical-slider li {
        font-size: 80px;
        line-height: 0.7;
        padding: 20px 0;
    }

    .expertise-wrap {
        padding: 75px 0;
    }

    .expertise-wrap .expertise-content h2 {
        font-size: 80px;
        line-height: 0.7;
        margin-bottom: 50px;
    }

    .expertise-accordion {
        row-gap: 40px;
    }

    .expertise-accordion .accordion-item {
        width: calc(50% - 20px);
        max-width: 600px;
        min-height: 227px;
    }

    .expertise-accordion .accordion-button {
        font-size: 32px;
        line-height: 1.2;
        padding-bottom: 20px;
    }

    .expertise-accordion .accordion-button span {
        font-size: 22px;
        line-height: 1.2;
        margin-bottom: 11px;
    }

    .expertise-accordion .accordion-body {
        padding: 22px 0;
    }

    .expertise-accordion .accordion-body p {
        font-size: 20px;
        line-height: 1.1;
        letter-spacing: 1px;
        max-width: 92%;
    }

    .why-choose-wrap {
        padding: 75px 0;
    }

    .why-choose-wrap .expertise-content h2 {
        font-size: 140px;
        line-height: 0.95;
        margin-bottom: 50px;
    }

    .why-choose-wrap .expertise-content p {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 28px;
    }

    .vision-together-wrap {
        min-height: 100vh;
        padding: 75px 0;
    }

    .vision-together-wrap .vision-together-content {
        max-width: 820px;
        padding: 50px 0 50px 80px;
    }

    .vision-together-wrap .vision-together-content img {
        width: 70px;
        height: auto;
    }

    .vision-together-wrap .vision-together-content h3 {
        font-size: 80px;
    }
    /*-_-_Content_CSS_End_-_-*/

    /*-_-_Footer_CSS_Start_-_-*/
    footer .footer-content {
        max-width: 1420px;
    }

    footer .footer-content p {
        font-size: 19px;
        margin-bottom: 22px;
    }

    footer .footer-content img {
        max-width: 560px;
    }
    /*-_-_Footer_CSS_End_-_-*/

    /*-_-_Contact-Us_CSS_End_-_-*/
    .contactus-wrap .contact-btm {
        padding-right: 80px;
        margin-top: -120px;
    }

    .contactus-wrap .contact-btm ul {
        margin-bottom: 24px;
        padding-right: 14px;
    }

    .contactus-wrap .contact-btm ul li,
    .contactus-wrap .contact-btm ul li a {
        font-size: 15px;
    }

    .contactus-wrap .contact-btm ul li {
        margin-bottom: 14px;
    }

    .contactus-wrap .contact-btm img {
        height: 130px;
    }

    .contactus-wrap .contactus-content {
        padding: 75px 0;
    }

    .contactus-wrap .contactus-content h2 {
        font-size: 75px;
        line-height: 0.65;
        margin-bottom: 50px;
        max-width: 800px;
    }

    .contactus-wrap .contactus-content p {
        font-size: 22px;
        line-height: 1.25;
        margin-bottom: 50px;
        max-width: 800px;
    }

    .contactus-wrap .contactus-content form {
        max-width: 900px;
    }

    .contactus-content form .form-group {
        margin-bottom: 30px;
    }

    .contactus-content form label {
        font-size: 20px;
        margin-bottom: 14px;
    }

    .contactus-content form input {
        font-size: 20px;
        padding: 0 20px;
        height: 48px;
    }

    .contactus-content form textarea {
        font-size: 20px;
        padding: 14px 20px;
        height: 170px;
    }

    .contactus-content form button {
        font-size: 22px;
        line-height: 1.25;
        padding: 13px 60px;
    }
    /*-_-_Contact-Us_CSS_End_-_-*/
}

@media only screen and (max-width: 1399px) {
    
    /*-_-_Header_CSS_Start_-_-*/
    header .navbar {
        padding: 22.5px 0;
    }

    header .navbar-brand img {
        height: 22px;
    }

    header .navbar-nav li {
        margin-right: 24px;
    }

    header .navbar-nav li a {
        font-size: 17px;
        line-height: 1.2;
    }
    /*-_-_Header_CSS_End_-_-*/

    /*-_-_Banner_CSS_Start_-_-*/
    .banner {
        min-height: calc(100vh - 67px);
        padding-bottom: 82px;
    }

    .banner .banner-content {
        padding: 50px 0 45px;
    }

    .banner .banner-content h1 {
        font-size: 90px;
        max-width: 580px;
        min-height: 252px;
        margin-bottom: 22px;
    }

    .banner .banner-content h1::after {
        font-size: calc(90px / 2);
    }

    .banner .banner-content h5 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .banner .banner-content p {
        font-size: 18px;
        max-width: 700px;
    }

    .marquee {
        padding: 28px 0;
    }

    .marquee li {
        font-size: 20px;
        line-height: 1.2;
    }

    /*-_-_Banner_CSS_End_-_-*/

    /*-_-_Content_CSS_Start_-_-*/

    .aboutus-wrap {
        padding: 70px 0;
    }

    .aboutus-img {
        max-width: 450px;
    }

    .aboutus-content {
        max-width: 440px;
    }

    .aboutus-content h2 {
        font-size: 70px;
        line-height: 0.9;
        margin-bottom: 35px;
    }

    .aboutus-content p {
        font-size: 30px;
        line-height: 1.2;
    }

    .services-wrap {
        padding: 65px 0;
    }

    .services-wrap .services-content {
        max-width: 1040px;
    }

    .services-wrap .services-content h2 {
        font-size: 70px;
        line-height: 0.9;
        margin-bottom: 40px;
    }

    .services-wrap .services-content p {
        font-size: 30px;
        line-height: 1.2;
        margin-bottom: 30px;
    }

    .vertical-slider-wrap {
        padding: 65px 0;
    }

    .vertical-slider li {
        font-size: 70px;
        line-height: 0.9;
        padding: 12.5px 0;
    }

    .expertise-wrap {
        padding: 65px 0;
    }

    .expertise-wrap .expertise-content h2 {
        font-size: 70px;
        line-height: 0.9;
        margin-bottom: 45px;
    }

    .expertise-accordion {
        row-gap: 30px;
    }

    .expertise-accordion .accordion-item {
        width: calc(50% - 20px);
        max-width: 600px;
        min-height: 202px;
    }

    .expertise-accordion .accordion-button {
        font-size: 28px;
        line-height: 1.2;
        padding-bottom: 18px;
    }

    .expertise-accordion .accordion-button span {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 10px;
    }

    .expertise-accordion .accordion-body {
        padding: 20px 0;
    }

    .expertise-accordion .accordion-body p {
        font-size: 19px;
        line-height: 1.1;
        letter-spacing: 0.5px;
        max-width: 98%;
    }

    .why-choose-wrap {
        padding: 65px 0;
    }

    .why-choose-wrap .expertise-content h2 {
        font-size: 120px;
        line-height: 1;
        margin-bottom: 45px;
    }

    .why-choose-wrap .expertise-content p {
        font-size: 22px;
        line-height: 1.2;
        margin-bottom: 24px;
    }

    .vision-together-wrap {
        padding: 65px 0;
    }

    .vision-together-wrap .vision-together-content {
        max-width: 720px;
        padding: 42px 0 42px 70px;
    }

    .vision-together-wrap .vision-together-content img {
        width: 60px;
    }

    .vision-together-wrap .vision-together-content h3 {
        font-size: 70px;
    }

    /*-_-_Content_CSS_End_-_-*/

    /*-_-_Footer_CSS_Start_-_-*/
    footer .footer-content {
        max-width: 1140px;
    }

    footer .footer-content p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    footer .footer-content img {
        max-width: 480px;
    }
    /*-_-_Footer_CSS_End_-_-*/

    
    /*-_-_Contact-Us_CSS_End_-_-*/
    
    .contactus-wrap .contact-btm {
        padding-right: 60px;
        margin-top: -105px;
    }

    .contactus-wrap .contact-btm ul {
        margin-bottom: 22px;
        padding-right: 12px;
    }

    .contactus-wrap .contact-btm ul li,
    .contactus-wrap .contact-btm ul li a {
        font-size: 14px;
    }

    .contactus-wrap .contact-btm ul li {
        margin-bottom: 13px;
    }

    .contactus-wrap .contact-btm img {
        height: 110px;
    }

    .contactus-wrap .contactus-content {
        padding: 65px 0;
    }

    .contactus-wrap .contactus-content h2 {
        font-size: 65px;
        line-height: 0.9;
        margin-bottom: 45px;
        max-width: 720px;
    }

    .contactus-wrap .contactus-content p {
        font-size: 20px;
        line-height: 1.25;
        margin-bottom: 45px;
        max-width: 720px;
    }

    .contactus-wrap .contactus-content form {
        max-width: 720px;
    }

    .contactus-content form .form-group {
        margin-bottom: 24px;
    }

    .contactus-content form label {
        font-size: 19px;
        margin-bottom: 12px;
    }

    .contactus-content form input {
        font-size: 19px;
        padding: 0 20px;
        height: 46px;
    }

    .contactus-content form textarea {
        font-size: 19px;
        padding: 12px 20px;
        height: 160px;
    }

    .contactus-content form button {
        font-size: 21px;
        line-height: 1.25;
        padding: 12px 50px;
    }
    /*-_-_Contact-Us_CSS_End_-_-*/
}

@media only screen and (max-width: 1199px) {
    /*-_-_Header_CSS_Start_-_-*/
    header .navbar {
        padding: 20px 0;
    }

    header .navbar-brand img {
        height: 20px;
    }

    header .navbar-nav li {
        margin-right: 22px;
    }

    header .navbar-nav li a {
        font-size: 16px;
        line-height: 1.2;
    }
    /*-_-_Header_CSS_End_-_-*/

    /*-_-_Banner_CSS_Start_-_-*/
    .banner {
        min-height: calc(100vh - 60px);
        padding-bottom: 68px;
    }

    .banner .banner-content {
        padding: 50px 0 45px;
    }

    .banner .banner-content h1 {
        font-size: 80px;
        line-height: 1;
        max-width: 540px;
        min-height: 240px;
        margin-bottom: 20px;
    }

    .banner .banner-content h1::after {
        font-size: calc(80px / 2);
    }

    .banner .banner-content h5 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .banner .banner-content p {
        font-size: 17px;
        max-width: 640px;
    }

    .marquee {
        padding: 22px 0;
    }

    .marquee li {
        font-size: 18px;
        line-height: 1.2;
    }

    /*-_-_Banner_CSS_End_-_-*/

    /*-_-_Content_CSS_Start_-_-*/

    .aboutus-wrap {
        padding: 60px 0;
        display: flex;
        align-items: center;
    }

    .aboutus-row {
        min-height: 485px;
    }

    .aboutus-img {
        max-width: 360px;
    }

    .aboutus-content {
        max-width: 400px;
    }

    .aboutus-content h2 {
        font-size: 60px;
        line-height: 1;
        margin-bottom: 35px;
    }

    .aboutus-content p {
        font-size: 26px;
        line-height: 1.25;
    }

    .services-wrap {
        padding: 55px 0;
    }

    .services-wrap .services-content {
        max-width: 910px;
    }

    .services-wrap .services-content h2 {
        font-size: 60px;
        line-height: 1;
        margin-bottom: 35px;
    }

    .services-wrap .services-content p {
        font-size: 26px;
        line-height: 1.25;
        margin-bottom: 26px;
    }

    .vertical-slider-wrap {
        padding: 55px 0;
    }

    .vertical-slider li {
        font-size: 60px;
        line-height: 1;
        padding: 10px 0;
    }

    .expertise-wrap {
        padding: 55px 0;
    }

    .expertise-wrap .expertise-content h2 {
        font-size: 60px;
        line-height: 1;
        margin-bottom: 45px;
    }

    .expertise-accordion {
        row-gap: 24px;
    }

    .expertise-accordion .accordion-item {
        width: calc(50% - 15px);
        max-width: 100%;
        min-height: 182px;
    }

    .expertise-accordion .accordion-button {
        font-size: 28px;
        line-height: 1.2;
        padding-bottom: 16px;
    }

    .expertise-accordion .accordion-button span {
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 9px;
    }

    .expertise-accordion .accordion-body {
        padding: 18px 0;
    }

    .expertise-accordion .accordion-body p {
        font-size: 18px;
        line-height: 1.1;
        letter-spacing: 0.5px;
        max-width: 100%;
    }

    .why-choose-wrap {
        padding: 55px 0;
    }

    .why-choose-wrap .expertise-content h2 {
        font-size: 100px;
        line-height: 1.1;
        margin-bottom: 40px;
    }

    .why-choose-wrap .expertise-content p {
        font-size: 20px;
        line-height: 1.25;
        margin-bottom: 25px;
    }

    .vision-together-wrap {
        padding: 55px 0;
    }

    .vision-together-wrap .vision-together-content {
        max-width: 620px;
        padding: 38px 0 38px 60px;
    }

    .vision-together-wrap .vision-together-content img {
        width: 60px;
    }

    .vision-together-wrap .vision-together-content h3 {
        font-size: 60px;
    }

    /*-_-_Content_CSS_End_-_-*/

    /*-_-_Footer_CSS_Start_-_-*/
    footer .footer-content {
        max-width: 960px;
    }

    footer .footer-content p {
        font-size: 16px;
        margin-bottom: 18px;
    }

    footer .footer-content img {
        max-width: 420px;
    }
    /*-_-_Footer_CSS_End_-_-*/

    /*-_-_Contact-Us_CSS_End_-_-*/

    .contactus-wrap .contact-btm {
        padding-right: 45px;
        margin-top: -85px;
    }

    .contactus-wrap .contact-btm ul {
        margin-bottom: 21px;
        padding-right: 10px;
    }

    .contactus-wrap .contact-btm ul li,
    .contactus-wrap .contact-btm ul li a {
        font-size: 13px;
    }

    .contactus-wrap .contact-btm ul li {
        margin-bottom: 12px;
    }

    .contactus-wrap .contact-btm img {
        height: 90px;
    }

    .contactus-wrap .contactus-content {
        padding: 55px 0;
    }

    .contactus-wrap .contactus-content h2 {
        font-size: 55px;
        line-height: 1;
        margin-bottom: 40px;
        max-width: 650px;
    }

    .contactus-wrap .contactus-content p {
        font-size: 19px;
        line-height: 1.25;
        margin-bottom: 40px;
        max-width: 650px;
    }

    .contactus-wrap .contactus-content form {
        max-width: 650px;
    }

    .contactus-content form .form-group {
        margin-bottom: 20px;
    }

    .contactus-content form label {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .contactus-content form input {
        font-size: 18px;
        padding: 0 18px;
        height: 44px;
    }

    .contactus-content form textarea {
        font-size: 18px;
        padding: 10px 18px;
        height: 150px;
    }

    .contactus-content form button {
        font-size: 20px;
        line-height: 1.25;
        padding: 12px 45px;
    }
    /*-_-_Contact-Us_CSS_End_-_-*/
}

@media only screen and (max-width: 991px) {
    /*-_-_Header_CSS_Start_-_-*/
    header .navbar {
        padding: 20px 0;
    }

    header .navbar-brand img {
        height: 18px;
    }

    header .navbar-toggler {
        border: 0;
        padding: 0;
        box-shadow: unset !important;
    }

    header .navbar-toggler .navbar-toggler-icon {
        -webkit-filter: grayscale(1) invert(1);
        filter: grayscale(1) invert(1);
    }

    header .navbar-collapse {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        z-index: 1;
        background: #30302E;
    }

    header .navbar-nav {
        padding: 7.5px 0;
    }

    header .navbar-nav li {
        margin-right: 0;
    }

    header .navbar-nav li a {
        padding: 7.5px 15px !important;
    }
    /*-_-_Header_CSS_End_-_-*/

    /*-_-_Banner_CSS_Start_-_-*/
    .banner {
        min-height: calc(100vh - 70px);
        padding-bottom: 67px;
    }

    .banner .banner-content {
        padding: 50px 0 45px;
    }

    .banner .banner-content h1 {
        font-size: 70px;
        line-height: 1;
        max-width: 480px;
        min-height: 210px;
        margin-bottom: 20px;
    }

    .banner .banner-content h1::after {
        font-size: calc(70px / 2);
    }

    .banner .banner-content h5 {
        font-size: 18px;
        margin-bottom: 14px;
    }

    .banner .banner-content p {
        font-size: 16px;
        max-width: 600px;
    }

    .marquee {
        padding: 22px 0;
    }

    .marquee li {
        font-size: 17px;
        line-height: 1.25;
    }

    /*-_-_Banner_CSS_End_-_-*/

    /*-_-_Content_CSS_Start_-_-*/

    .aboutus-wrap {
        padding: 50px 0;
    }

    .aboutus-img {
        max-width: 280px;
    }

    .aboutus-content {
        max-width: 100%;
    }

    .aboutus-content h2 {
        font-size: 50px;
        line-height: 1;
        margin-bottom: 35px;
    }

    .aboutus-content p {
        font-size: 22px;
        line-height: 1.25;
    }

    .services-wrap {
        padding: 50px 0;
    }

    .services-wrap .services-content {
        max-width: 100%;
    }

    .services-wrap .services-content h2 {
        font-size: 50px;
        line-height: 1;
        margin-bottom: 30px;
    }

    .services-wrap .services-content p {
        font-size: 22px;
        line-height: 1.25;
        margin-bottom: 22px;
    }

    .vertical-slider-wrap {
        padding: 50px 0;
    }

    .vertical-slider li {
        font-size: 50px;
        line-height: 1;
        padding: 7.5px 0;
    }

    .expertise-wrap {
        padding: 50px 0;
    }

    .expertise-wrap .expertise-content h2 {
        font-size: 50px;
        line-height: 1;
        margin-bottom: 40px;
    }

    .expertise-accordion {
        row-gap: 20px;
    }

    .expertise-accordion .accordion-item {
        width: calc(50% - 10px);
        max-width: 100%;
        min-height: 161px;
    }

    .expertise-accordion .accordion-button {
        font-size: 24px;
        line-height: 1.2;
        padding-bottom: 14px;
    }

    .expertise-accordion .accordion-button span {
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 8px;
    }

    .expertise-accordion .accordion-body {
        padding: 16px 0;
    }

    .expertise-accordion .accordion-body p {
        font-size: 17px;
        line-height: 1.1;
        letter-spacing: 0;
    }

    .why-choose-wrap {
        padding: 50px 0;
    }

    .why-choose-wrap .expertise-content h2 {
        font-size: 70px;
        line-height: 1.1;
        margin-bottom: 35px;
    }

    .why-choose-wrap .expertise-content p {
        font-size: 18px;
        line-height: 1.25;
        margin-bottom: 24px;
    }

    .vision-together-wrap {
        padding: 50px 0;
    }

    .vision-together-wrap .vision-together-content {
        max-width: 520px;
        padding: 34px 0 34px 50px;
    }

    .vision-together-wrap .vision-together-content img {
        width: 45px;
    }

    .vision-together-wrap .vision-together-content h3 {
        font-size: 50px;
    }

    /*-_-_Content_CSS_End_-_-*/

    /*-_-_Footer_CSS_Start_-_-*/
    footer .footer-content {
        max-width: 100%;
    }

    footer .footer-content p {
        font-size: 16px;
        margin-bottom: 16px;
    }

    footer .footer-content img {
        max-width: 320px;
    }
    /*-_-_Footer_CSS_End_-_-*/

    
    /*-_-_Contact-Us_CSS_End_-_-*/
    .contactus-wrap .contact-btm {
        padding-right: 35px;
        margin-top: -50px;
    }

    .contactus-wrap .contact-btm ul {
        margin-bottom: 20px;
        padding-right: 8px;
    }

    .contactus-wrap .contact-btm ul li,
    .contactus-wrap .contact-btm ul li a {
        font-size: 12px;
    }

    .contactus-wrap .contact-btm ul li {
        margin-bottom: 10px;
    }

    .contactus-wrap .contact-btm img {
        height: 70px;
    }

    .contactus-wrap .contactus-content {
        padding: 50px 0;
    }

    .contactus-wrap .contactus-content h2 {
        font-size: 50px;
        line-height: 1;
        margin-bottom: 30px;
        max-width: 610px;
    }

    .contactus-wrap .contactus-content p {
        font-size: 18px;
        line-height: 1.25;
        margin-bottom: 30px;
        max-width: 610px;
    }

    .contactus-wrap .contactus-content form {
        max-width: 610px;
    }

    .contactus-content form .form-group {
        margin-bottom: 18px;
    }

    .contactus-content form label {
        font-size: 17px;
        margin-bottom: 9px;
    }

    .contactus-content form input {
        font-size: 17px;
        padding: 0 16px;
        height: 42px;
    }

    .contactus-content form textarea {
        font-size: 17px;
        padding: 8px 16px;
        height: 140px;
    }

    .contactus-content form button {
        font-size: 19px;
        line-height: 1.25;
        padding: 10px 40px;
    }
    /*-_-_Contact-Us_CSS_End_-_-*/
}

@media only screen and (max-width: 767px) {
     /*-_-_Header_CSS_Start_-_-*/
     header .navbar {
        padding: 15px 0;
    }

    header .navbar-brand img {
        height: 18px;
    }

    header .navbar-nav {
        padding: 7.5px 0;
    }

    header .navbar-nav li {
        margin-right: 0;
    }

    header .navbar-nav li a {
        font-size: 15px;
        line-height: 1.25;
        padding: 7.5px 15px !important;
    }
    /*-_-_Header_CSS_End_-_-*/

    /*-_-_Banner_CSS_Start_-_-*/
    .banner {
        min-height: unset;
        padding-bottom: 60px;
    }

    .banner .banner-content {
        padding: 50px 0;
    }

    .banner .banner-content h1 {
        font-size: 45px;
        line-height: 1.2;
        max-width: 300px;
        min-height: 162px;
        margin-bottom: 20px;
    }
    
    .banner .banner-content h1::after {
        font-size: calc(50px / 2);
    }

    .banner .banner-content h5 {
        font-size: 18px;
        margin-bottom: 14px;
        max-width: 335px;
    }

    .banner .banner-content p {
        font-size: 16px;
        max-width: 100%;
    }

    .marquee {
        padding: 19px 0;
    }

    .marquee li {
        font-size: 16px;
        line-height: 1.25;
    }

    /*-_-_Banner_CSS_End_-_-*/

    /*-_-_Content_CSS_Start_-_-*/

    .aboutus-wrap {
        padding: 50px 0 0;
        min-height: unset;
    }

    .aboutus-wrap  .aboutus-row {
        flex-direction: column-reverse;
    }

    .aboutus-row {
        min-height: unset;
    }

    .aboutus-img {
        max-width: 200px;
        margin-left: auto;
        display: block;
        padding-top: 35px;
    }

    .aboutus-content {
        max-width: 100%;
    }

    .aboutus-content h2 {
        font-size: 32px;
        line-height: 1;
        margin-bottom: 20px;
    }

    .aboutus-content p {
        font-size: 18px;
        line-height: 1.25;
    }

    .services-wrap {
        padding: 50px 0;
        min-height: unset;
    }

    .services-wrap .services-content h2 {
        font-size: 32px;
        line-height: 1;
        margin-bottom: 25px;
    }

    .services-wrap .services-content p {
        font-size: 18px;
        line-height: 1.25;
        margin-bottom: 18px;
    }

    .vertical-slider-wrap {
        padding: 50px 0;
        min-height: unset;
    }

    .vertical-slider li {
        font-size: 32px;
        line-height: 1;
        padding: 7.5px 0;
    }

    .expertise-wrap {
        padding: 50px 0 20px;
        min-height: unset;
    }

    .expertise-wrap .expertise-content h2 {
        font-size: 32px;
        line-height: 1;
        margin-bottom: 30px;
    }

    .expertise-accordion {
        row-gap: 30px;
    }

    .expertise-accordion .accordion-item {
        width: 100%;
        max-width: 100%;
        min-height: unset;
    }

    .expertise-accordion .accordion-button {
        font-size: 19px;
        line-height: 1.2;
        padding-bottom: 12px;
    }

    .expertise-accordion .accordion-button span {
        font-size: 14px;
        line-height: 1.2;
        margin-bottom: 6px;
    }

    .expertise-accordion .accordion-body {
        padding: 14px 0 0;
    }

    .expertise-accordion .accordion-body p {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0;
    }

    .why-choose-wrap {
        padding: 50px 0;
        min-height: unset;
    }

    .why-choose-wrap .expertise-content h2 {
        font-size: 32px;
        line-height: 1.1;
        margin-bottom: 20px;
    }

    .why-choose-wrap .expertise-content p {
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 20px;
    }

    .vision-together-wrap {
        padding: 50px 0;
        min-height: unset;
    }

    .vision-together-wrap .vision-together-content {
        max-width: 295px;
        padding: 30px 0;
    }

    .vision-together-wrap .vision-together-content img {
        width: 35px;
    }

    .vision-together-wrap .vision-together-content:hover img {
        transform: translateX(0) scale(1.2);
    }

    .vision-together-wrap .vision-together-content h3 {
        font-size: 32px;
        line-height: 1;
    }

    /*-_-_Content_CSS_End_-_-*/

    /*-_-_Footer_CSS_Start_-_-*/
    footer .footer-content {
        max-width: 100%;
        padding-top: 20px;
    }

    footer .footer-content p {
        font-size: 16px;
        margin-bottom: 25px;
        max-width: 100%;
    }

    footer .footer-content img {
        max-width: 240px;
        margin-left: auto;
        display: block;
    }

    .scrollToTop {
        width: 40px; 
        height: 40px;
        bottom: 20px;
        right: 15px;
    }
    
    .scrollToTop svg {
        width: 24px;
        height: 24px;
    }
    /*-_-_Footer_CSS_End_-_-*/

    /*-_-_Contact-Us_CSS_End_-_-*/
    
    .contactus-wrap .contact-btm {
        padding-right: 20px;
        margin-top: -30px;
    }

    .contactus-wrap .contact-btm ul {
        margin-bottom: 18px;
        padding-right: 5px;
    }

    .contactus-wrap .contact-btm ul li,
    .contactus-wrap .contact-btm ul li a {
        font-size: 12px;
    }

    .contactus-wrap .contact-btm ul li {
        margin-bottom: 8px;
    }

    .contactus-wrap .contact-btm img {
        height: 50px;
    }

    .contactus-wrap .contactus-content {
        padding: 45px 0;
    }

    .contactus-wrap .contactus-content h2 {
        font-size: 32px;
        line-height: 1;
        margin-bottom: 20px;
        max-width: 100%;
    }

    .contactus-wrap .contactus-content p {
        font-size: 15px;
        margin-bottom: 25px;
        max-width: 100%;
    }

    .contactus-wrap .contactus-content form {
        max-width: 100%;
    }

    .contactus-content form .form-group {
        margin-bottom: 16px;
    }

    .contactus-content form label {
        font-size: 15px;
        margin-bottom: 8px;
    }

    .contactus-content form input {
        font-size: 15px;
        padding: 0 16px;
        height: 40px;
    }

    .contactus-content form textarea {
        font-size: 15px;
        padding: 8px 16px;
        height: 130px;
    }

    .contactus-content form button {
        font-size: 16px;
        line-height: 1.25;
        padding: 10px 35px;
    }
    /*-_-_Contact-Us_CSS_End_-_-*/
}